.badge {
    margin-right: 2px;
}

.badge-1, .badge-2, .badge-3 {
  background: red;
}

.badge-4, .badge-5, .badge-6 {
  background: green;
}

.badge-7 {
  background: pink;
}

.badge-A, .badge-C, .badge-E {
  background: blue;
}

.badge-B, .badge-D, .badge-F, .badge-M {
  background: orange;
}

.badge-G {
  background: #ADFF2F; //Light Green
}

.badge-J, .badge-Z {
  background: brown;
}

.badge-N, .badge-Q, .badge-R {
  background: yellow;
  color: black;
}



