<header>
  <div class="back-btn-container">
    <button ng-click="go('/museums')" class="btn back-btn">
      <img class="back-icon" src="images/arrow.svg">
    </button>
  </div>
  <div class="header-text">
    Cool Culture
  </div>
</header>
<section class="section-detail row">
  <div class="col-xs-12">
    <h2 class="checkin-text">Great! <br>You are checked in...</h2>
  </div>
  <div class="col-xs-11 checkin-confirmation-card ">
    <div class="col-xs-11">
      <strong>{{checkinTicket.museumId | displayMuseumIdFilter }}</strong>
    </div>
    <div class="col-xs-11">
      <strong>{{checkinTicket.familyCardId}}</strong> | {{checkinTicket.lastName}}
    </div>
    <div class="col-xs-11">
      <div class="col-xs-3 col-md-2">
        <span class="badge badge-group-number-checkin">{{checkinTicket.groupNumber}}</span>
      </div>
      <div class="checkin-date col-xs-7">
        people checked in <br>
        {{checkinTicket.date}}
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <button ng-click="go('/museums')" class="btn btn-checkin">
        VIEW MUSEUM LIST
  </button>
  </div>
</section>
