<header class="cool-culture-header">
  <div class="back-btn-container">
    <button ng-click="go('/museums')" class="btn back-btn">
      <img class="back-icon" src="images/arrow.svg">
    </button>
  </div>
  <div class="profile-btn-container">
    <button ng-click="go('/profile')" class="btn back-btn">
      <img class="profile-icon" src="images/user.svg">
    </button>
  </div>
  <div class="header-text">
    Cool Culture <i class="beta">Beta</i>
  </div>
</header>
<section class="section-detail row">
  <div class="col-xs-12">
    <h2 class="checkin-text">Great! <br>You are checked in...</h2>
  </div>
  <div class="col-xs-11 checkin-confirmation-card ">
    <div class="col-xs-11">
      <h3>Cool Culture</h3>
      <h4>FAMILY PASS</h4>
    </div>
    <div class="col-xs-11">
       NYC EARLY CHILDHOOD PROGRAM
       <hr>
    </div>
    <div class="col-xs-11">
       {{checkinTicket.lastName}}
       <hr>
    </div>
    <div class="col-xs-11">
      {{checkinTicket.familyCardId}}
    </div>
  </div>

  <div class="col-xs-12">
    <button ng-click="go('/museums')" class="btn btn-checkin">
        VIEW MUSEUM LIST
  </button>
  </div>
  <div class="col-xs-12">

  </div>
  <div class="disclaimer col-xs-12">
    <hr>
    <h4 class="checkin-text">* Please note</h4>
    <ol>
      <li> This Pass is for free general admission only and may not provide free entry to special exhibitions or programs</li>
      <li>This Pass entitles you to receive general admission for a <strong>maximum of five people</strong></li>
      <li>This Pass cannot be used for group or class visits</li>
      <li>You may be asked to <strong>present personal identification</strong> to verify your digital pass</li>
      <li>Your Family Pass can only be used by you or another adult in your family with the last name printed on the card</li>
    </ol>
  </div>
</section>
