<header class="cool-culture-header">
  <div class="back-btn-container">
    <button ng-click="back()" class="btn back-btn">
      <img class="back-icon" src="images/arrow.svg">
    </button>
  </div>
  <div class="header-text">
    Cool Culture
  </div>
</header>

<section class="row section-detail ">
  <div class="col-xs-12">
    <h2 class="checkin-text">Check In</h2>
    <div class="checkin-museum-text">
      <strong>{{checkinData.museum_id | displayMuseumIdFilter }}</strong>
    </div>
  </div>

  <div class="col-xs-12 alert alert-danger" ng-show="errors">
    {{errors}}
  </div>

  <div class="col-xs-12">
    <h4>Please enter your Family ID number and your Last Name</h4>
    <input class="checkin-input" type="tel" placeholder="Family Card ID" ng-model="checkinData.family_card_id"/>
  </div>

  <div class="col-xs-12">
    <input class="checkin-input" placeholder="Last Name" ng-model="checkinData.last_name"/>
  </div>
  <div class="col-xs-12 checkin-header-row">
    <hr>
  </div>


  <div class="col-xs-12">
    <h4>How many children are in your group?</h4>
    <group-number options="options" number="checkinData.checkin.number_of_children"></group-number>
    <hr class="checkin-header-row">
  </div>


  <div class="col-xs-12">
    <h4>How many adults are in your group?</h4>
    <group-number options="options" number="checkinData.checkin.number_of_adults"></group-number>
  </div>

  <div class="col-xs-12">
    <button ng-click="checkin()" ng-disabled="enableCheckin()" class="btn btn-checkin">
        CHECK IN
    </button>
  </div>


</section>
