<header class="cool-culture-header">
  <div class="back-btn-container">
    <button ng-click="back()" class="btn back-btn">
      <img class="back-icon" src="images/arrow.svg">
    </button>
  </div>
  <div class="header-text">
    Cool Culture <i class="beta">Beta</i>
  </div>
</header>

<section id="login" class="row section-detail ">
  <div class='login-view' ng-show="!loggedIn">
    <div class="col-xs-12">
      <h2 class="login-header">Hello there, <br/>welcome to CoolCulture!</h2>
      <h4>Please enter your email and password</h4>
    </div>

    <div class="col-xs-12 alert alert-danger" ng-show="errors">
      {{errors}}
    </div>

    <div class="col-xs-12">
      <input class="login-input" placeholder="Your Email" ng-model="sessionData.email"/>
    </div>

    <div class="col-xs-12">
      <input class="login-input" type="password" placeholder="Your Password" ng-model="sessionData.password"/>
    </div>

    <div class="col-xs-12">
      <button ng-click="login()" class="btn btn-lg btn-checkin">
          LOG IN
      </button>
    </div>
  </div>

  <div class='logged-in-view' ng-show="loggedIn" class="col-xs-12">
    <div class="col-xs-12">
      <h2 class="login-header">Success,<br/>Thank you {{ lastName }} Family!</h2>
    </div>
    
    <button ng-click="go('/museums')" class="btn btn-lg btn-checkin">
        VIEW MUSEUMS
    </button>

    <p>Or, you can:</p>

    <button ng-click="logout()" class="btn btn-lg btn-checkin">
        LOG OUT
    </button>
  </div>
</section>
