<header><button ng-click="back()" class="btn btn-default">Back</button></header>
<section class="row">
      <div class="col-xs-12">
        <strong>{{museum.name}}</strong>
      </div>

      <div class="col-xs-12">
        <div class="col-xs-6">
          <img src="images/sample_museum.jpg" width="100" />
        </div>
        <div class="col-xs-6">
          <img src="images/train.svg" width="20px" />
          <subway-lines lines="museum.subwayLines"></subwayLines>
        </div>

        <div ng-repeat="hour in museum.hours">
          {{hour}}
        </div>
      </div>

      <div class="col-xs-12">
        <hr>
        <a href="http://maps.google.com/?q={{museum.address}}, New York City" target="_blank">
          <div class="action">
            <span class="glyphicon glyphicon-map-marker"></span> {{museum.address}}
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
          </div>
        </a>
        <hr>
      </div>

      <div class="col-xs-12">
        <a href="{{museum.siteUrl}}" target="_blank">
          <div class="action">
            {{museum.siteUrl}}
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
          </div>
        </a>
        <hr>
      </div>

      <div class="col-xs-12">
        <a href="tel:1{{museum.phoneNumber | phoneNumberFilter }}">
          <div class="action">
            <span class="glyphicon glyphicon-earphone"></span> {{museum.phoneNumber}}
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
          </div>
        </a>
        <hr>
      </div>

</section>

