<header class="cool-culture-header">
  <div class="back-btn-container">
    <a ng-click="back()" class="btn back-btn">
      <img class="back-icon" src="images/arrow.svg">
    </a>
  </div>
  <div class="profile-btn-container">
    <a href="#/profile" class="btn back-btn">
      <img class="profile-icon" src="images/user.svg">
    </a>
  </div>
  <div class="header-text">
    Cool Culture <i class="beta">Beta</i>
  </div>

</header>
<section ng-if="loading">
    <div class="spinner">
      <h5>Loading Museum...</h5>
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
</section>
<section class="museum section-detail row" ng-if="museum">
  <div class="museum-name-detail-view col-xs-12">
    <strong>{{museum.name}}</strong>
    <span class="badge badge-reduced-admission" ng-if="museum.freeAdmission"> FREE</span>
    <span class="badge badge-reduced-admission" ng-if="museum.suggestedDonation"> SUGGESTED DONATION</span>
  </div>

  <div class="col-xs-12">
    <div class="col-xs-6">
      <img class="museum-image" ng-src="{{museum.imageUrl}}"/>
    </div>

    <div class="col-xs-6" ng-if="museum.subwayLines">
      <img class="train-icon" src="images/train.svg">
      <subway-lines lines="museum.subwayLines"></subwayLines>
    </div>

    <div class="bus-lines col-xs-6" ng-if="museum.busLines">
      <img src="images/bus.svg" class="bus-lines-icon"></img>
      <span class="bus-lines-text">{{museum.busLines}}</span>
    </div>

    <div class="col-xs-1" ng-if="museum.wifi">
      <img class="wifi-icon" src="images/wifi.svg">
    </div>
    <div class="col-xs-1" ng-if="museum.handicapAccessible">
      <img class="handicap-icon" src="images/handicap.svg">
    </div>
    <div class="col-xs-1" ng-if="museum.handsOnActivity">
      <img class="hands-on-text" src="images/hands-on-text.svg">
    </div>
  </div>

  <div class="hours col-xs-12">
    <div ng-repeat="hour in museum.hours">
      {{hour}}
    </div>
  </div>

  <div class="col-xs-12">
    <hr>
    <a href="http://maps.google.com/?q={{museum.address}}, New York City" target="_blank">
      <div class="action">
        <img class="address-icon address-icon-detail-view" src="images/address.svg">
        <span class="detail-view-action-text">
          {{museum.address}}
        </span>
        <span class="glyphicon glyphicon-chevron-right pull-right center-vertical"></span>
      </div>
    </a>
    <hr>
  </div>

  <div class="col-xs-12">
    <a href="{{museum.siteUrl | siteUrlFilter}}" target="_blank">
      <div class="action">
        <img class="home-icon" src="images/home.svg">
        <span class="detail-view-action-text">
          Visit Museum Website
        </span>
        <span class="glyphicon glyphicon-chevron-right pull-right center-vertical"></span>
      </div>
    </a>
    <hr>
  </div>

  <div class="col-xs-12">
    <a href="tel:1{{museum.phoneNumber | phoneNumberFilter }}">
      <div class="action">
        <img class="phone-icon" src="images/phone.svg">
        <span class="detail-view-action-text">
          Call Now: {{museum.phoneNumber}}
        </span>
        <span class="glyphicon glyphicon-chevron-right pull-right center-vertical"></span>
      </div>
    </a>
    <hr>
  </div>

  <div class="col-xs-12">
    <button ng-click="go('/museums/checkin/' + museum.nameId)" class="btn btn-checkin">
      CHECK IN TO MUSEUM
    </button>
    <hr>
  </div>

  <div class="col-xs-12">
    <div class="description-title">
      More Information
    </div>
    <hr>
    <div class="description-text">
      {{museum.description}}
    </div>
  </div>

  <div class="col-xs-12">
    <div class="description-title">
      Activities
    </div>
    <hr>
    <div ng-repeat="activity in museum.activities" class="description-text">
      <p>
        <strong>{{ activity.name }}</strong><br/>
        {{ formatActivityTime(activity) }}<br/>
        {{ activity.description }}
      </p>
    </div>
  </div>  
</section>

<hr class="livefyre-header">

<!-- START: Livefyre Embed -->
<div id="livefyre-comments"></div>
<!-- END: Livefyre Embed -->
