<header>
  <div class="filter-btn-container">
    <button ng-click="openFilterModal()" class="btn filter-btn">
      <img class="filter-icon" src="images/filter.svg">
    </button>
  </div>
  <div class="header-text">
    Cool Culture
  </div>
</header>
<div class="search-bar col-xs-12">
  <img class="search-icon" src="images/search.svg">
  <input class="search-bar-input" placeholder="Search" ng-model="searchText"/>
</div>
<section>
  <div class="row list-item-container" ng-repeat="museum in museums | filter: {name: searchText, borough: museumFilters.borough, categories: museumFilters.category }" ng-click="go('/museums/' + museum.name_id)">
    <hr>
    <article class="list-item col-xs-12">
      <div class="col-xs-12">
        <strong>{{museum.name}}</strong>
      </div>

      <div class="col-xs-10">
        <img class="address-icon" src="images/address.svg">
        <span class="museum-address-list-view">{{museum.address}}</span>
      </div>

      <div class="col-xs-1 pull-right center-vertical">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </div>

      <div class="subway-lines col-xs-9">
        <img src="images/train.svg" class="subway-lines-icon"></img>
        <subway-lines lines="museum.subwayLines"></subwayLines>
      </div>

      <div class="bus-lines col-xs-9" ng-show="museum.busLines">
        <img src="images/bus.svg" class="bus-lines-icon"></img>
        <span class="bus-lines-text">{{museum.busLines}}</span>
      </div>
    </article>
  </div>
</section>
<script type="text/ng-template" id="filters.html">
  <div class="modal-header"><h4>Borough:</h4></div>
  <div class="modal-body">
    <div class="row">
    <label class="col-xs-5">
      <input type="radio" ng-model="museumFilters.borough" value="Manhattan"> Manhattan
    </label>
    <label class="col-xs-5">
      <input type="radio" ng-model="museumFilters.borough" value="Queens"> Queens
    </label>
    <label class="col-xs-5">
      <input type="radio" ng-model="museumFilters.borough" value="Brooklyn"> Brooklyn
    </label>
    <label class="col-xs-5">
      <input type="radio" ng-model="museumFilters.borough" value="Staten Island"> Staten Island
    </label>
    <label class="col-xs-5">
      <input type="radio" ng-model="museumFilters.borough" value="Bronx"> Bronx
    </label>
  </div>
</div>

  <div class="modal-header"><h4>Category:</h4></div>
  <div class="modal-body">
    <div class="row">
      <label class="col-xs-4 col-md-3">
        <input type="radio" ng-model="museumFilters.category" value="History"> History
      </label>
      <label class="col-xs-3 col-md-3">
        <input type="radio" ng-model="museumFilters.category" value="Art"> Art
      </label>
      <label class="col-xs-4 col-md-3">
        <input type="radio" ng-model="museumFilters.category" value="Science"> Science
      </label>
    </div>
  </div>

  <div class="modal-body">
    <button ng-click="ok()" class="btn">
      OK
    </button>
    <button ng-click="cancel()" class="btn">
      Cancel
    </button>
  </div>
</script>
