<header class="cool-culture-header">
  <div class="filter-btn-container">
    <button ng-click="openFilterModal()" class="btn filter-btn">
      <img class="filter-icon" src="images/filter.svg">
    </button>
  </div>
  <div class="profile-btn-container">
    <a href="#/profile" class="btn back-btn">
      <img class="profile-icon" src="images/user.svg">
    </a>
  </div>
  <div class="header-text">
    Cool Culture <i class="beta">Beta</i>
  </div>
</header>
<div class="row" ng-show="!loading">
  <div class="search-bar col-xs-12">
      <label for="search">
        <img class="search-icon" src="images/search.svg"/>
      </label>
      <input id="search" class="search-bar-input" placeholder="Search" ng-model="searchText"/>
  </div>
</div>
<section ng-if="loading">
    <div class="spinner">
      <h5>Loading Museums...</h5>
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
</section>
<section ng-if="museums">
  <div class="row list-item-container" ng-repeat="museum in museums | orderBy: 'name' | filter: {name: searchText} | museumCategoryFilter:museumFilters.categories | museumBoroughFilter:museumFilters.boroughs | museumAdmissionFilter:museumFilters.admissionType" ng-click="go('/museums/' + museum.nameId)">
    <hr>
    <article class="list-item col-xs-12">
      <div class="col-xs-12">
        <strong>{{museum.name}}</strong>
      </div>
      <div class="col-xs-12">
        <span class="badge badge-reduced-admission" ng-if="museum.freeAdmission"> FREE</span>
          <span class="badge badge-reduced-admission" ng-if="museum.suggestedDonation"> SUGGESTED DONATION</span>
      </div>
      <div class="col-xs-10">
        <img class="address-icon" src="images/address.svg">
        <span class="museum-address-list-view">{{museum.address}}, {{museum.borough}}</span>
      </div>

      <div class="col-xs-1 pull-right center-vertical">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </div>

      <div class="subway-lines col-xs-9" ng-if="museum.subwayLines">
        <img src="images/train.svg" class="subway-lines-icon"></img>
        <subway-lines lines="museum.subwayLines"></subwayLines>
      </div>

      <div class="bus-lines col-xs-9" ng-if="museum.busLines">
        <img src="images/bus.svg" class="bus-lines-icon"></img>
        <span class="bus-lines-text">{{museum.busLines}}</span>
      </div>
    </article>
  </div>
</section>

<script type="text/ng-template" id="filters.html">
  <div class="modal-header">
    <h4>Categories <i class="filter-header">(Tap icon once to select)</i></h4>
  </div>
  <div class="modal-body">
    <div class="row categories-row">
      <div class="modal-checkbox col-sm-2 col-sm-offset-1 col-xs-4">
        <input type="checkbox" ng-click="addToFilter('categories','Art')" ng-checked="museumFilters.categories.indexOf('Art') !== -1" id="art">
        <label class="art-checkbox" for="art">Art</label>
      </div>
      <div class="modal-checkbox col-sm-2 col-xs-4">
        <input type="checkbox" ng-click="addToFilter('categories', 'History')" ng-checked="museumFilters.categories.indexOf('History') !== -1" id="history">
        <label class="history-checkbox" for="history">History</label>
      </div>
      <div class="modal-checkbox col-sm-2 col-xs-4">
        <input type="checkbox" ng-click="addToFilter('categories', 'Nature')" ng-checked="museumFilters.categories.indexOf('Nature') !== -1" id="nature">
        <label class="nature-checkbox" for="nature">Nature</label>
      </div>
      <div class="modal-checkbox col-sm-2 col-xs-4">
        <input type="checkbox" ng-click="addToFilter('categories', 'Science')" ng-checked="museumFilters.categories.indexOf('Science') !== -1" id="science">
        <label class="science-checkbox" for="science">Science</label>
      </div>
      <div class="modal-checkbox col-sm-2 col-xs-4">
        <input type="checkbox" ng-click="addToFilter('categories', 'Other')" ng-checked="museumFilters.categories.indexOf('Other') !== -1" id="other">
        <label class="other-checkbox" for="other">Other</label>
      </div>
    </div>
  </div>

  <div class="modal-header">
    <h4>Boroughs <i class="filter-header">(Tap icon once to select)</i></h4>
  </div>
  <div class="modal-body">
    <div class="row boroughs-row">
      <div class="modal-checkbox col-sm-2 col-sm-offset-1 col-xs-4">
        <input type="checkbox" ng-click="addToFilter('boroughs', 'Manhattan')" ng-checked="museumFilters.boroughs.indexOf('Manhattan') !== -1" id="manhattan">
        <label class="manhattan-checkbox" for="manhattan"></label>
      </div>
      <div class="modal-checkbox col-sm-2 col-xs-4">
        <input type="checkbox" ng-click="addToFilter('boroughs', 'Queens')" ng-checked="museumFilters.boroughs.indexOf('Queens') !== -1" id="queens">
        <label class="queens-checkbox" for="queens"></label>
      </div>
      <div class="modal-checkbox col-sm-2 col-xs-4">
        <input type="checkbox" ng-click="addToFilter('boroughs', 'Brooklyn')" ng-checked="museumFilters.boroughs.indexOf('Brooklyn') !== -1" id="brooklyn">
        <label class="brooklyn-checkbox" for="brooklyn"></label>
      </div>
      <div class="modal-checkbox col-sm-2 col-xs-4">
        <input type="checkbox" ng-click="addToFilter('boroughs', 'Staten Island')" ng-checked="museumFilters.boroughs.indexOf('Staten Island') !== -1" id="staten-island">
        <label class="staten-island-checkbox" for="staten-island"></label>
      </div>
      <div class="modal-checkbox col-sm-2 col-xs-4">
        <input type="checkbox" ng-click="addToFilter('boroughs', 'Bronx')" ng-checked="museumFilters.boroughs.indexOf('Bronx') !== -1" id="bronx">
        <label class="bronx-checkbox" for="bronx"></label>
      </div>
    </div>
  </div>

  <div class="modal-header">
    <h4>Admission Type <i class="filter-header">(Tap icon once to select)</i></h4>
  </div>
  <div class="modal-body">
    <div class="row admission-row">
      <div class="modal-checkbox col-sm-2 col-sm-offset-1 col-xs-4">
        <input type="checkbox" ng-click="addToFilter('admissionType', 'Free')" ng-checked="museumFilters.admissionType.indexOf('Free') !== -1" id="free">
        <label class="free-checkbox" for="free"></label>
      </div>
      <div class="modal-checkbox col-sm-2 col-xs-4">
        <input type="checkbox" ng-click="addToFilter('admissionType', 'Suggested Donation')" ng-checked="museumFilters.admissionType.indexOf('Suggested Donation') !== -1" id="donation">
        <label class="donation-checkbox" for="donation"></label>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button ng-click="ok()" class="btn">
      OK
    </button>
    <button ng-click="cancel()" class="btn">
      Reset
    </button>
  </div>
</script>
