<header>
  <div class="back-btn-container">
    <button ng-click="back()" class="btn back-btn">
      <img class="back-icon" src="images/arrow.svg">
    </button>
  </div>
  <div class="header-text">
    Cool Culture
  </div>
</header>

<section class="section-detail row" ng-show="museum">
      <div class="museum-name-detail-view col-xs-12">
        <strong>{{museum.name}}</strong>
      </div>

      <div class="col-xs-12">
        <div class="col-xs-6">
          <img src="{{museum.imageUrl}}" width="100" />
        </div>

        <div class="col-xs-6">
          <img src="images/train.svg" width="20px">
          <subway-lines lines="museum.subwayLines"></subwayLines>
        </div>

        <div class="bus-lines col-xs-6" ng-show="museum.busLines">
          <img src="images/bus.svg" class="bus-lines-icon"></img>
          <span class="bus-lines-text">{{museum.busLines}}</span>
        </div>
      </div>

      <div class="hours col-xs-12">
        <div ng-repeat="hour in museum.hours">
          {{hour}}
        </div>
      </div>

      <div class="col-xs-12">
        <hr>
        <a href="http://maps.google.com/?q={{museum.address}}, New York City" target="_blank">
          <div class="action">
            <img class="address-icon address-icon-detail-view" src="images/address.svg">
            <span class="detail-view-action-text">
              {{museum.address}}
            </span>
            <span class="glyphicon glyphicon-chevron-right pull-right center-vertical"></span>
          </div>
        </a>
        <hr>
      </div>

      <div class="col-xs-12">
        <a href="{{museum.siteUrl}}" target="_blank">
          <div class="action">
            <img class="home-icon" src="images/home.svg">
            <span class="detail-view-action-text">
              Visit Museum Website
            </span>
            <span class="glyphicon glyphicon-chevron-right pull-right center-vertical"></span>
          </div>
        </a>
        <hr>
      </div>

      <div class="col-xs-12">
        <a href="tel:1{{museum.phoneNumber | phoneNumberFilter }}">
          <div class="action">
            <img class="phone-icon" src="images/phone.svg">
            <span class="detail-view-action-text">
              Call Now: {{museum.phoneNumber}}
            </span>
            <span class="glyphicon glyphicon-chevron-right pull-right center-vertical"></span>
          </div>
        </a>
        <hr>
      </div>

</section>

