<header class="cool-culture-header">
  <div class="back-btn-container">
    <a href="#/museums" class="btn back-btn">
      <img class="back-icon" src="images/arrow.svg">
    </a>
  </div>
  <div class="profile-btn-container">
    <a href="#/profile" class="btn back-btn">
      <img class="profile-icon" src="images/user.svg">
    </a>
  </div>
  <div class="header-text">
    <img class="cool-culture-logo" src="images/logo.svg">
  </div>
</header>

<section id="password-reset" class="row section-detail">
  <div class="alert alert-danger" ng-show="passData.errors">
    <p>{{ passData.errors }}</p>
  </div>
  
  <div class='password-reset-view'>
    <div class="col-xs-12">
      <h2>Change your password</h2>
      <h4>Please enter your new password</h4>
    </div>

    <form ng-submit="resetPassword()">
      <input type="hidden" value="{{ passData.passwordResetToken }}" name="password-reset-token"/>
      
      <div class="col-xs-12">
        <input class="password-input" type="password" name="password" placeholder="Password" ng-model="passData.password"/>
      </div>

      <div class="col-xs-12">
        <input class="password-input" type="password" name="password-confirmation" placeholder="Password Confirmation" ng-model="passData.passwordConfirmation"/>
      </div>
      
      <div class="col-xs-12">
        <input class="btn btn-lg btn-checkin" type="submit" id="submit" value="Reset My Password" />
      </div>
    </form>
  </div>
</section>