<header class="cool-culture-header">
  <div class="back-btn-container">
    <button ng-click="go('/museums')" class="btn back-btn">
      <img class="back-icon" src="images/arrow.svg">
    </button>
  </div>
  <div class="header-text">
    <img class="cool-culture-logo" src="images/logo.svg">
  </div>
</header>

<section ng-if="loading">
  <div class="spinner">
    <h5>Loading Profile...</h5>
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</section>

<section id="profile" class="row section-detail" ng-if="!loading">
  <div class="family-card-info" class="col-xs-12">
    <div class="heading">
      <h1>{{ familyCard.last_name }} Family</h1>
      <h4 class="org-details">{{ familyCard.organization_name }}</h4>
      <h4 class="org-details">Pass ID {{ familyCard.pass_id }}</h4>
      <h4 class="org-details">Expires On {{ familyCard.expiration }}</h4>
    </div>

    <div id="checkins" ng-show="checkins.length > 0">
      <h4>Previous Check-ins</h4>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 alert alert-info">
          <p>If you're ready to check-in to a museum, please use the museum's listing.</p>
        </div>
      </div>

      <div ng-repeat="checkin in checkins">
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <img ng-src="{{ checkin.image }}">  
          </div>
          
          <div class="col-xs-12 col-sm-9">
            <h3>{{ checkin.museum }}</h3>
            <p>Checked-in on <span>{{ checkin.date }}</span>.</p>
          </div>
        </div>
      </div>
    </div>

    <div id="no-checkins" class="row" ng-show="checkins.length === 0">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 alert alert-danger">
        <p>You haven't checked-in to any museums! If you're ready to check-in to a museum, please use the museum's listing.</p>
      </div>
    </div>

    <button id="logout-button" ng-click="logout()" class="btn btn-lg btn-checkin">
        LOG OUT
    </button>
  </div>
</section>
