<header class="cool-culture-header">
  <div class="back-btn-container">
    <a href="#/museums" class="btn back-btn">
      <img class="back-icon" src="images/arrow.svg">
    </a>
  </div>
  <div class="profile-btn-container">
    <a href="#/profile" class="btn back-btn">
      <img class="profile-icon" src="images/user.svg">
    </a>
  </div>
  <div class="header-text">
    <img class="cool-culture-logo" src="images/logo.svg">
  </div>
</header>

<section id="signup" class="row section-detail" ng-if="!loading">

  <div class='login-view' ng-show="!user.loggedIn" ng-hide="passwordResetData.showIt">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="login-header">Hello there, <br/><span>welcome to Cool Culture!</span></h2>
        <h4>Please enter your information below to create an account.</h4>
      </div>
    </div>

    <form ng-submit="doSignup()">
      <div class="row">
        <div class="col-xs-12 alert alert-danger" ng-repeat="error in errors">
          {{error}}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 col-xs-10 col-sm-offset-0 col-xs-offset-1">
          <label>Email</label>
        </div>

        <div class="col-sm-9 col-xs-10 col-sm-offset-0 col-xs-offset-1">
          <input type="email" placeholder="Email" ng-model="signup.email" required />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 col-xs-10 col-sm-offset-0 col-xs-offset-1">
          <label>Password</label>
        </div>

        <div class="col-sm-9 col-xs-10 col-sm-offset-0 col-xs-offset-1">
          <input type="password" placeholder="Password" ng-model="signup.password" required />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 col-xs-10 col-sm-offset-0 col-xs-offset-1">
          <label>Pass ID</label>
        </div>

        <div class="col-sm-9 col-xs-10 col-sm-offset-0 col-xs-offset-1">
          <input placeholder="Pass ID" ng-model="signup.passID" required />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 col-xs-10 col-sm-offset-0 col-xs-offset-1">
          <label>Last Name</label>
        </div>

        <div class="col-sm-9 col-xs-10 col-sm-offset-0 col-xs-offset-1">
          <input placeholder="Last Name" ng-model="signup.lastName" required />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-9 col-xs-10 col-sm-offset-3 col-xs-offset-1">
          <span class="notice">Exactly as it appears on your Family Pass</span>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-lg btn-checkin" ng-enabled="$valid">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</section>
