<div class="welcome jumbotron">
  <div class="col-xs-4">
    <hr>
  </div>
  <h1>
    Hello there, <br>
    Welcome to <br>
    Cool Culture!
  </h1>
  <p>
    Now you can easily search information and event updates for 90 of NYC’s best museums! If you are a Cool Culture family, you can access your digital pass when you check-in to a museum.
  </p>
  <button class="btn btn-welcome" ng-click="go('/museums/')">
    Let's get started
    <span class="glyphicon glyphicon-play"></span>
  </button>
</div>
