<header class="cool-culture-header">
  <div class="back-btn-container">
    <button ng-click="back()" class="btn back-btn">
      <img class="back-icon" src="images/arrow.svg">
    </button>
  </div>
  <div class="header-text">
    Cool Culture <i class="beta">Beta</i>
  </div>
</header>

<section class="section-detail row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Family Card ID</th>
        <th>Last Name</th>
        <th># of Children</th>
        <th># of Adults</th>
        <th>Museum</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="checkin in checkins">
        <td>{{checkin.familyCardId}}</td>
        <td>{{checkin.lastName}}</td>
        <td>{{checkin.numberOfChildren}}</td>
        <td>{{checkin.numberOfAdults}}</td>
        <td>{{checkin.museum.name}}</td>
        <td>{{checkin.date}}</td>
      </tr>
    </tbody>
  </table>
</section>
