$white: #FFFFFF;
$light-gray: #E2E2E2;
$middle-gray: #CCCCCC;
$dark-gray: #4C4C4C;
$cool-culture-orange: #F5623C;

$skinTextColor: $dark-gray;
$skinTextActiveColor: $white;
$skinTextTable: $dark-gray;
$skinActiveColor: $cool-culture-orange;
$skinHeaderBck: $dark-gray;
$panelHeaderBck: $cool-culture-orange;
$skinLogo: none;