.badge {
    margin-right: 2px;
    padding: 3px 5px;
}

.badge-1, .badge-2, .badge-3 {
  background: #ee352e;
}

.badge-4, .badge-5, .badge-6 {
  background: #00933c;
}

.badge-7 {
  background: #b933ad;
}

.badge-A, .badge-C, .badge-E {
  background: #2850ad;
}

.badge-B, .badge-D, .badge-F, .badge-M {
  background: #ff6319;
}

.badge-L {
  background: #a7a9ac
}

.badge-G {
  background: #6cbe45;
}

.badge-J, .badge-Z {
  background: #996633;
}

.badge-N, .badge-Q, .badge-R {
  background: #fccc0a;
  color: black;
}

.badge-S {
  background: #808183;
}



