.badge {
    margin-right: 2px;
    padding: 3px 5px;
}

.badge-1, .badge-2, .badge-3 {
  background: #ee352e;
  padding: 3px 5.5px;
}

.badge-4, .badge-5, .badge-6 {
  background: #00933c;
  padding: 3px 6px;
}

.badge-7 {
  background: #b933ad;
  padding: 3px 6px;
}

.badge-A, .badge-C, .badge-E {
  background: #2850ad;
}

.badge-B, .badge-D, .badge-F, .badge-M {
  background: #ff6319;
}

.badge-F {
  padding: 3px 5.5px;
}

.badge-M {
  padding: 3px 4px;
}

.badge-L {
  background: #a7a9ac
}

.badge-G {
  background: #6cbe45;
}

.badge-J, .badge-Z {
  background: #996633;
}

.badge-N, .badge-Q, .badge-R {
  background: #fccc0a;
  color: black;
}

.badge-S {
  background: #808183;
}

.badge-SIR {
  background: #172082;
}

.badge-group-number {
  color: $cool-culture-orange;
  background: none;
  border: solid 1px;
  font-size: 200%;
  border-radius: 20px;
  padding: 3px 10px;
  margin: 15px 10px;
}

.badge-group-number.active {
  color: $white;
  background: $cool-culture-orange;
  border: solid 1px;
}

.badge-group-number-checkin {
  color: $white;
  background: $cool-culture-orange;
  border: solid 1px;
  font-size: 220%;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 15px 10px;
}

.badge-reduced-admission {
  background: $cool-culture-orange;
}


