$icon-font-path: "/fonts/";
$white: #FFFFFF;
$light-gray: #E2E2E2;
$middle-gray: #CCCCCC;
$dark-gray: #4C4C4C;
$cool-culture-orange: #F5623C;

@import 'sass-bootstrap/lib/bootstrap';
@import 'compass/css3';
@import 'slider';
@import 'badges';
@import 'loading';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.container .jumbotron {
    border-radius: 0;
}

/* Custom page header */
.header {
    border-bottom: 1px solid $cool-culture-orange;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid $cool-culture-orange;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid $cool-culture-orange;
    padding-top: 40px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.jumbotron p {
    font-size: 90%;
    margin-top: 30px;
}

.welcome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $cool-culture-orange;
    border-radius: 0;
    color: white;
    text-align: left;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    hr {
        border-top: 8px solid $white;
        margin-left: -15px;
    }
}

.btn.btn-welcome {
   background: adjust-lightness($cool-culture-orange, -7);
   margin-top: 30px;
}

.btn.btn-welcome:active {
   background: adjust-lightness($cool-culture-orange, -15);
}

.museum-name-detail-view {
    font-size: 135%;
    margin-bottom: 5px;
}

.museum-address-list-view {
    margin-left: -3px;
}

.museum-image {
    width: 100px;
}

.train-icon {
    width: 20px;
}

.wifi-icon, .handicap-icon {
    width: 45px;
}

.hands-on-text {
    margin-top: -15px;
    margin-left: -5px;
}

.hands-on-icon {
    width: 40px;
}

.subway-lines {
    margin-bottom: 3px;
}

.subway-lines-icon {
    width: 20px;
}

.bus-lines {
    padding-left: 17px;
}

.bus-lines-icon{
    width: 15px;
}

.bus-lines-text {
    padding: 3px;
}

.address-icon {
    width: 30px;
    margin-left: -6px;
}

.address-icon-detail-view {
    margin-left: 1px;
    margin-right: 4px;
}

.detail-view-action-text {
    padding-top: 2px;
}

.description-title, .description-text, .activities-title, .activity-text {
    padding: 10px;
}

.description-title, .activities-title {
    font-size: 120%;
}

.activity-name {
    font-weight: bold;
}

.phone-icon {
    margin-left: -1px;
}

.phone-icon, .home-icon {
    width: 35px;
}

.hours {
    margin: 10px 0px;
}

.glyphicon-chevron-right {
    color: $dark-gray;
}

.glyphicon-map-marker {
    font-size: 135%;
}

.pull-right.center-vertical{
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 90%;
}

.list-item {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-item-container:active, .list-item-container:nth-child(even):active {
    background: $middle-gray;
}

.list-item-container:nth-child(even) {
    background: $light-gray;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.action {
    padding: 2px 0px;
}

.action:active {
    background: $light-gray;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.cool-culture-header {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: $cool-culture-orange;
    color: $white;
    height: 55px;
}

.header-text {
    font-size: 200%;
    font-weight: bold;
    padding-top: 7px;
}

section {
    display: block;
    -webkit-overflow-scrolling: touch;
}

.section-detail {
    margin-top: 60px;
}

.search-bar {
    margin-top: 55px;
    margin-left: -14px;
}

.search-icon {
    width: 50px;
    margin-top: -7px;
}

.filter-icon {
    width: 45px;
    padding-bottom: 5px;
}

.search-bar-input {
    border: 0;
    height: 50px;
    width: 80%;
    font-size: 150%;
    color: $dark-gray;
    margin-top: 2px;
}

.checkin-input {
    border: solid 2px;
    height: 50px;
    width: 80%;
    font-size: 150%;
    color: $dark-gray;
    margin-top: 2px;
    padding-left: 10px;
}

.checkin-header-row {
    margin-top: 30px;
}

.checkin-text {
    color: $cool-culture-orange;
}

.checkin-museum-text {
    font-size: 140%;
}

.checkin-confirmation-card {
    background: $cool-culture-orange;
    border-radius: 6px;
    color: $white;
    margin-left: 15px;
    padding: 10px 10px;
    font-size: 120%;
    h4 {
        color: $dark-gray;
    }

    hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.disclaimer {
    ol {
        font-size: 90%;
        color: adjust-lightness($dark-gray, 7);
    }

    hr {
        border-bottom: 3px solid $middle-gray;
    }
}

.btn-checkin {
    margin: 15px 0;
}

.checkin-date {
    margin-top: 15px;
}

.btn {
    background: $cool-culture-orange;
    color: $white;
}

.btn:active {
    box-shadow: none;
    background-color: adjust-lightness($cool-culture-orange, -7);
}

.btn:hover {
    color: white;
}

.filter-btn, .back-btn {
    height: 55px;
    width: 55px;
    padding: 0px;
}

.filter-btn-container, .back-btn-container {
    position: absolute;
}

.back-icon {
    width: 70px;
    margin-top: -10px;
    margin-left: -12px;
}

.categories-row {
    margin-bottom: 20px;
}

.modal-checkbox {
    display: inline-block;
}

.modal-checkbox input[type="checkbox"] {
    display: none;
}

.modal-checkbox label{
    height: 100px;
    display: block;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
}

.categories-row label {
    padding-top: 85px;
    margin-bottom: 12px;
}

$filters: manhattan brooklyn bronx queens staten-island art science nature history other free donation;

@each $filter in $filters {
    input[type="checkbox"] + label[class="#{$filter}-checkbox"] {
        background-image: url('../images/#{$filter}-unselected.svg');
    }
    input[type="checkbox"]:checked + label[class="#{$filter}-checkbox"] {
        background-image: url('../images/#{$filter}-selected.svg');
    }
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: $light-gray
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $light-gray
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $light-gray
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $light-gray
}
