<header><button ng-click="back()" class="btn btn-default">Back</button></header>
<section class="panel panel-default">
      <div class="panel-heading">
          <div class="panel-title">{{museum.name}}</div>
      </div>
      <div class="panel-body">
        <div>
          {{museum.name}}
        </div>
        <div>
          <a href="http://maps.google.com/?q={{museum.address}}, New York City" target="_blank">
            <span class="glyphicon glyphicon-map-marker"></span> {{museum.address}}
          </a>
        </div>
        <div>
          <a href="{{museum.siteUrl}}" target="_blank">{{museum.siteUrl}}</a>
        </div>
        <div>
          <a href="tel:1{{museum.phoneNumber | phoneNumberFilter }}">
            <span class="glyphicon glyphicon-earphone"></span> {{museum.phoneNumber}}
          </a>
        </div>
        <div>
          {{museum.hours}}
        </div>
        <div>
          <img src="images/train.svg" width="20px"></img>
          <subway-lines lines="museum.subwayLines"></subwayLines>
        </div>
      </div>

</section>

