<header>
  <input ng-model="searchText" />
  <button ng-click="openFilterModal()" class="btn">
      Filters
    </button>
    <button ng-click="resetFilters()" class="btn">
      View All
    </button>
</header>
  <section>
    <a ng-repeat="museum in museums | filter: {name: searchText, borough: museumFilters.borough, category: museumFilters.category }" ng-click="go('/museums/' + museum.id)">
    <article class="panel panel-default">
      <div class="panel-body">
          <div class="museum-image">
            <img ng-src="{{museum.imageUrl}}" width=100px/>
          </div>

          <div class="museum-text">
            {{museum.name}}
          </div>
          <subway-lines lines="museum.subwayLines"></subwayLines>

          <span class="glyphicon glyphicon-chevron-right pull-right center-chevron"></span>
        </div>
      </div>
    </article>
  </a>
  </section>
<script type="text/ng-template" id="filters.html">
  <div class="modal-header">Borough:</div>
  <div class="modal-body">
    <label class="radio-inline">
      <input type="radio" ng-model="museumFilters.borough" value="Manhattan"> Manhattan
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="museumFilters.borough" value="Queens"> Queens
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="museumFilters.borough" value="Brooklyn"> Brooklyn
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="museumFilters.borough" value="Staten Island"> Staten Island
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="museumFilters.borough" value="Bronx"> Bronx
    </label>
  </div>

  <div class="modal-header">Category:</div>
  <div class="modal-body">
    <label class="radio-inline">
      <input type="radio" ng-model="museumFilters.category" value="History"> History
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="museumFilters.category" value="Art"> Art
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="museumFilters.category" value="Science"> Science
    </label>
  </div>

  <div class="modal-body">
    <button ng-click="ok()" class="btn">
      OK
    </button>
    <button ng-click="cancel()" class="btn">
      Cancel
    </button>
  </div>
</script>
