<h4>
  <%= link_to('Go to Family Card', admin_family_cards_path) %>
  <%= link_to('Go to Users', admin_users_path) %>
  <%= link_to('Go to Museums', admin_museums_path) %>
  <%= link_to('Go to Checkins', admin_checkins_path) %>
</h4>